<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1043257026823-9vfbsohkl6uj3mp510322gefijrmqi8c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1043257026823-9vfbsohkl6uj3mp510322gefijrmqi8c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1043257026823-hhbc7fkumkhd3bju99e3n1kqsv46anib.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBxH9AHwuQt4RhSKYaXHAWuuzJzKTNueW8</string>
	<key>GCM_SENDER_ID</key>
	<string>1043257026823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.ironbody</string>
	<key>PROJECT_ID</key>
	<string>iron-body-e88f7</string>
	<key>STORAGE_BUCKET</key>
	<string>iron-body-e88f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043257026823:ios:c4cbb3e299248519b57da2</string>
</dict>
</plist>